body, html {
    height:100%;
    width:100%;
    font-family: 'Open Sans', sans-serif;
    color: #eae8e8;
}

.row, .col {
    margin:0;
}
nav .nav-wrapper {
    background-color: #152133;
}

/* --------- div option --------- */
.primarySelector {
    height:50px;
    background-color: #152133;
    color: #fff;;
}

.choiceItem {
    height:100px;
    background-color: red;
}

.fa-choiceIcon {
    font-size:60px;
    padding-top:20px;
}

.choiceText {
    padding-top:25px;
    padding-left:75px;
}

/* --------- Button option ---------*/
.material-button {
    width:100%;
    text-transform: none;
    font-size:24px;
    height:74px;
    padding-top:6px;
    /*background-color: #10283c !important;*/
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.material-button-icon:before {
    font-size:50px;
}

/*.collection .collection-item {*/
    /*padding:0;*/
/*}*/

.material-button-list .material-button-list-item {
    padding:0;
}

.material-button-list:not(.browser-default) {
    margin-top:0;
}
